<footer>
    <div id="coloane">
        <section>
            <h2>CONTACT</h2>
                <address><i class="fa fa-home"></i> Str. Academiei nr.14, sector 1, București </address><br>
                <address><i class="fa fa-home"></i> Bd.București nr.9, Ploiești </address> <br>        
                <i class="fa fa-phone"></i> <a href="tel:0755.334.522"> 0755.334.522</a> <br>
                <i class="fa fa-envelope"></i><a href="mailto:hello@cofetariasavor.ro">hello@cofetariasavor.ro</a>
        </section>
        <section>
            <h2>PROGRAM</h2>
            <ol>
                <li> <b>București</b>
                    <ul>
                        <li> Luni-Duminică 09:00 - 21:00 </li>
                    </ul>
                </li>
                <li> <b>Ploiești</b>
                    <ul>
                        <li> Luni-Sâmbătă 09:00 - 21:00 </li>
                        <li> Duminică 10:00 - 15:00 </li>
                    </ul>
                </li>
            </ol>
        </section>
        <section>
            <h2><a href = "/info" id="suport">SUPORT CLIENȚI</a></h2>
            <ul>
                <li><a href = "/info#cumcomand">Cum comand?</a></li>
                <li><a href = "/info#transport">Transport</a></li>
                <li><a href = "/info#transport">Livrări evenimente</a></li>
                <li><a href = "/info#termeni">Termeni și condiții</a></li>
            </ul>
        </section>
    </div>
</footer>