<!DOCTYPE html>
<html lang="ro">
<head>
    <title> Candy Bar - Cofetăria Savor </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/CSS/stil_comun.css">
    <link rel="stylesheet" href="/CSS/stil_candybar.css">
    <link rel="stylesheet" href="/CSS/stil_buton_top.css">
    <script type="text/javascript" src="JAVASCRIPT/scroll_top.js"></script>
    <script type="text/javascript" src="JAVASCRIPT/marcarepgactiva.js"></script>
    <script type="text/javascript" src="JAVASCRIPT/candybarscript.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/IMAGINI/favicon.ico"/>
	<meta charset="UTF-8">
	<meta name="author" content="Poinarita Diana">
	<meta name="description" content="Cofetarie">
    <meta name="keywords" content="prajituri, cofetarie, torturi, candy bar, dulciuri, botez, nunta, macarons, cupcakes, petit fours, tarte">
</head>
<body>
<%- include('../fragmente/header.ejs') %>
<button id="myBtn" title="Go to top">Top</button>
<main>
<section class="introsection">
    <div class="intro">
        <h2>CANDY BAR</h2>
        <p>Cofetaria SAVOR asigura servicii complete de sweets candy bar pentru orice tip de eveniment.</p>
        <p>Astfel, pe langa delicioasele prajituri create după retetele marelui maestru cofetar, Cofetaria Savor va poate pune la dispozitie mese speciale de sweets corner, suporti deosebiti si elemente decorative care vor pune in valoare coltul de dulciuri ales, precum si servicii de amenajare intr-un mod profesionist a acestuia, astfel incat sa capteze toata atentia dorita.</p>
        <p>In cadrul Cofetariei Savor veti regasi produse rafinate, deosebite si, in primul rand, foarte foarte gustoase. Astfel, pe langa aspectul deosebit al acestora, produsele sunt foarte delicioase si vor transforma coltul dumnevoastra cu dulciuri in punctul principal de atractie al evenimentului.</p>
        <p>In oferta noastra puteti regasi: macarons, cupcakes, petit fours, mini rolouri cu diferite creme, minitarte cu fructe, minitorturi, biscuiti royal icing, mousseuri de ciocolata, mousseuri cu fructe, cake pops, mini brownie, acadele si multe alte sortimente delicioase de prajituri.</p>
        <p>Intotdeauna urmarim sa respectam tema si culorile evenimentului, sa dam coltului dumnevoastra cu dulciuri/candy barului o imagine senzaţionala, acesta devenind un punct de atractie principal pentru invitati.</p>
    </div>
</section>
<section>
    <div id="candynunta">
        <h2>Candy Bar Nunta</h2>
        <p>Un candy bar pentru nunta va completa atmosfera festiva a evenimentului dumneavoastra si va incanta prin arome si prin culori fermecatoare. Pentru ca este un element versatil, ce poate fi personalizat in functie de cerintele dumneavoastra, se va potrivi, fara niciun dubiu, oricarei tematici alese pentru nunta.</p>
    </div>

<div id="animatnunta">
    <div id="container_animatie1">
        <div id="derulant1">
            <figure>
                <img alt="Candy Bar White" src="../IMAGINI/Candy/cbn1.jpg">
                <figcaption>Candy Bar White</figcaption>
            </figure>
            <figure>
                <img alt="Candy Bar Pastel" src="../IMAGINI/Candy/cbn2.jpg">
                <figcaption>Candy Bar Pastel</figcaption>
            </figure>
            <figure>
                <img alt="Candy Bar Elegant" src="../IMAGINI/Candy/cbn3.jpg">
                <figcaption>Candy Bar Elegant</figcaption>
            </figure>
            <figure>
                <img alt="Candy Bar Elegant" src="../IMAGINI/Candy/cbn4.jpeg">
                <figcaption>Candy Bar Elegant</figcaption>
            </figure>
            <figure>
                <img alt="Candy Bar Elegant" src="../IMAGINI/Candy/cbn5.jpeg">
                <figcaption>Candy Bar Elegant</figcaption>
            </figure>
        </div>
    </div>

    <div id="imgnunta">
        <img alt="Candy Bar White" src="../IMAGINI/Candy/cbnn5.jpg">
    </div>

</div>
</section>

<section>
    <div id="candybotez">
        <h2>Candy Bar Botez</h2>
        <p>Prima petrecere a copilului dumneavoastra merita toata atentia si intreaga noastra implicare pentru ca aceasta sa ramana, peste ani, o poveste de neuitat. Si pentru ca botezul celui mic este un eveniment incarcat de simboluri, de bucurie si de dragoste, petrecerea merita un element inedit, vesel, plin de culoare si gust, pregatit cu suflet, dupa bunul dumneavoastra plac. </p>
        <p>Indiferent care este tema aleasa, un candy bar botez se va integra perfect in atmosfera dulcelui eveniment si va incanta prin jocul zglobiu al culorilor pastelate sau al nuantelor vii ce infrumuseteaza, prin decoruri alese, delicioasele deserturi.</p>
    </div>

    <div class="gr">
        <figure>
          <img src="../IMAGINI/Candy/cbb1.jpg" alt="Candy Bar Boy">
          <figcaption>Candy Bar Boy</figcaption>
        </figure>
        <figure>
            <img src="../IMAGINI/Candy/cbb3.jpg" alt="Candy Bar Fantasy">
            <figcaption>Candy Bar Fantasy</figcaption>
        </figure>
        <figure>
            <img src="../IMAGINI/Candy/cbb4.jpg" alt="Candy Bar Girl">
            <figcaption>Candy Bar Girl</figcaption>
        </figure>
    </div>
    <div class="gr">
        <figure>
            <img src="../IMAGINI/Candy/cbb6.jpg" alt="Candy Bar Teddy Bear">
            <figcaption>Candy Bar Teddy Bear</figcaption>
        </figure>
        <figure>
            <img src="../IMAGINI/Candy/cbb7.jpg" alt="Candy Bar Wonderland">
            <figcaption>Candy Bar Wonderland</figcaption>
        </figure>
        <figure>
            <img src="../IMAGINI/Candy/cbb8.jpg" alt="Candy Bar Wonderland">
            <figcaption>Candy Bar Wonderland</figcaption>
        </figure>
    </div>
</section>
<div class="introsection">
    <div class="intro">
        <p>Candy Bar-ul pregatit de Cofetaria Savor este inspirat de povestea dumneavoastra, de aceea, va invitam sa ne contactati – abia asteptam sa va punem in practica ideile dulci si sa va invaluim evenimentul in arome delicios de colorate.</p>
        <p>Toate prajiturile pentru candy bar sunt disponibile exclusiv la comanda.</p>
        <p>Se poate realiza Candy Bar cu o anumite tematica, la cererea clientului.</p>    
    </div>
</div>

</main>
<%- include('../fragmente/footer.ejs') %>

</body>
</html>
