<!DOCTYPE html>
<html lang="ro">

<head>
    <title> Cofetarie - Cofetăria Savor </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/CSS/stil_comun.css">
    <link rel="stylesheet" href="/CSS/stil_cofetarie.css">
    <link rel="stylesheet" href="/CSS/stil_buton_top.css">
    <script type="text/javascript" src="JAVASCRIPT/aparitietreptatatitlu.js"></script>
    <script type="text/javascript" src="JAVASCRIPT/marcarepgactiva.js"></script>
    <script type="text/javascript" src="JAVASCRIPT/scroll_top.js"></script>
    <script type="text/javascript" src="JAVASCRIPT/aparitietreptatatitlu.js"></script>
    <script type="text/javascript" src="JAVASCRIPT/cofetarie_java.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/IMAGINI/favicon.ico">
    <meta charset="UTF-8">
    <meta name="author" content="Poinarita Diana">
    <meta name="description" content="Cofetarie">
    <meta name="keywords" content="prajituri, cofetarie, torturi, candy bar, dulciuri">
</head>

<body>
    <%- include('../fragmente/header.ejs') %>
    <button id="myBtn" title="Go to top">Top</button>
    <main>
        <section>
            <div class="divtitlu"></div>
            <div id="introducerepraji">
                <p>Diverse sau liniare, colorate sau monocrome, cu sau fara fructe, insiropate sau doar trampate, fine
                    purtatoare de esente si/sau alcoolizate, ciocolatoase sau suave, perfect definite sau atent
                    ciufulite, clasice sau in acord cu ultimele tendinte, vanilate sau doar pudrate, glazurate sau cu
                    mot de frisca, nude sau discret acoperite cu fondant... in toate aceste nuante putem defini
                    prajiturile.</p>
            </div>

            <div class="responsive">
                <div class="gallery">
                    <img src="IMAGINI/Cofetarie/diplomat.jpg" alt="Diplomat">
                    <button id="myBtn0">CITITI MAI MULT</button>
                    <div id="myModal" class="modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <span class="close" id="cls">&times;</span>
                                <h3>PRAJITURA DIPLOMAT</h3>
                            </div>
                            <div class="modal-body">
                                <p>INGREDIENTE: faina de grau, frisca naturala, crema de patiserie, fructe proaspete (de
                                    sezon), lapte, albus de ou, galbenus de ou, zahar, sare, cacao </p>
                                <p>GRAMAJ: 120g </p>
                                <p>PRET: 5.5 Lei </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="responsive">
                <div class="gallery">
                    <img src="IMAGINI/Cofetarie/ecler.jpg" alt="Ecler">
                    <button id="myBtn1">CITITI MAI MULT</button>
                    <div id="myModal1" class="modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <span class="close" id="cls1">&times;</span>
                                <h3>ECLER CU FRISCA SI CARAMEL</h3>
                            </div>
                            <div class="modal-body">
                                <p>INGREDIENTE: unt(grasime 82%), ou intreg, faina de grau, ciocolata alba, frisca
                                    naturala, lapte, glucoza, zahar, caramel </p>
                                <p>GRAMAJ: 100g </p>
                                <p>PRET: 7 Lei </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="responsive">
                <div class="gallery">
                    <img src="IMAGINI/Cofetarie/majestic.jpg" alt="Majestic">
                    <button id="myBtn2">CITITI MAI MULT</button>
                    <div id="myModal2" class="modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <span class="close" id="cls2">&times;</span>
                                <h3>PRAJITURA MAJESTIC</h3>
                            </div>
                            <div class="modal-body">
                                <p>INGREDIENTE: unt(grasime 82%), ou intreg, faina de grau, ciocolata alba, ciocolata
                                    alba, frisca naturala, lapte, glucoza, zahar, </p>
                                <p>GRAMAJ: 100g </p>
                                <p>PRET: 7 Lei </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="responsive">
                <div class="gallery">
                    <img src="IMAGINI/Cofetarie/savoareafructelor.jpg" alt="Prajitura Savoarea Fructelor">
                    <button id="myBtn3">CITITI MAI MULT</button>
                    <div id="myModal3" class="modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <span class="close" id="cls3">&times;</span>
                                <h3>PRAJITURA SAVOAREA FRUCTELOR</h3>
                            </div>
                            <div class="modal-body">
                                <p>INGREDIENTE: unt(grasime 82%), ou intreg, faina de grau, ciocolata neagra, ciocolata
                                    alba, frisca naturala, lapte, sare, zahar, cacao, fructe de padure</p>
                                <p>GRAMAJ: 120g </p>
                                <p>PRET: 7 Lei </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="responsive">
                <div class="gallery">
                    <img src="IMAGINI/Cofetarie/moussealbcuzmeura.jpg" alt="Mousse Alb cu Zmeura">
                    <button id="myBtn4">CITITI MAI MULT</button>
                    <div id="myModal4" class="modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <span class="close" id="cls4">&times;</span>
                                <h3>MOUSSE ALB CU ZMEURA</h3>
                            </div>
                            <div class="modal-body">
                                <p>INGREDIENTE: unt(grasime 82%), crema de patiserie, crema fina de branza, ou intreg,
                                    faina de grau, faina de migdale, frisca naturala, sare, apa, zahar, zmeura</p>
                                <p>GRAMAJ: 110g </p>
                                <p>PRET: 8 Lei </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="responsive">
                <div class="gallery">
                    <img src="IMAGINI/Cofetarie/mousseciocolata.jpg" alt="Mousse Ciocolata">
                    <button id="myBtn5">CITITI MAI MULT</button>
                    <div id="myModal5" class="modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <span class="close" id="cls5">&times;</span>
                                <h3>MOUSSE CIOCOLATA</h3>
                            </div>
                            <div class="modal-body">
                                <p>INGREDIENTE: unt(grasime 82%), crema de patiserie, ou intreg, frisca naturala, lapte
                                    praf, apa, zahar, cacao, ciocolata neagra</p>
                                <p>GRAMAJ: 110g </p>
                                <p>PRET: 8 Lei </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="responsive">
                <div class="gallery">
                    <img src="IMAGINI/Cofetarie/ora12.jpg" alt="Ora 12">
                    <button id="myBtn6">CITITI MAI MULT</button>
                    <div id="myModal6" class="modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <span class="close" id="cls6">&times;</span>
                                <h3>PRAJITURA ORA 12</h3>
                            </div>
                            <div class="modal-body">
                                <p>INGREDIENTE: crema vegetala, ou intreg, faina de grau, frisca naturala, sare, cacao,
                                    fondant cacao, zahar, esenta de rom</p>
                                <p>GRAMAJ: 120g </p>
                                <p>PRET: 5.5 Lei </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="responsive">
                <div class="gallery">
                    <img src="IMAGINI/Cofetarie/belcolade.jpg" alt="Belcolade">
                    <button id="myBtn7">CITITI MAI MULT</button>
                    <div id="myModal7" class="modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <span class="close" id="cls7">&times;</span>
                                <h3>PRAJITURA BELCOLADE</h3>
                            </div>
                            <div class="modal-body">
                                <p>INGREDIENTE: frisca naturala, ciocolata alba, ciocolata neagra, unt(grasime 82%), ou
                                    intreg, visine, faina de grau, zahar, cacao, bicarbonat de sodiu, apa, sare</p>
                                <p>GRAMAJ: 100g </p>
                                <p>PRET: 7 Lei </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="responsive">
                <div class="gallery">
                    <img src="IMAGINI/Cofetarie/zaharars.jpg" alt="Crema de zahar ars">
                    <button id="myBtn8">CITITI MAI MULT</button>
                    <div id="myModal8" class="modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <span class="close" id="cls8">&times;</span>
                                <h3>CREMA DE ZAHAR ARS</h3>
                            </div>
                            <div class="modal-body">
                                <p>INGREDIENTE: lapte, zahar, ou intreg, aroma de vanilie</p>
                                <p>GRAMAJ: 110g </p>
                                <p>PRET: 6 Lei </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="responsive">
                <div class="gallery">
                    <img src="IMAGINI/Cofetarie/oreo.jpg" alt="Prajitura Oreo">
                    <button id="myBtn9">CITITI MAI MULT</button>
                    <div id="myModal9" class="modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <span class="close" id="cls9">&times;</span>
                                <h3>PRAJITURA OREO</h3>
                            </div>
                            <div class="modal-body">
                                <p>INGREDIENTE: frisca naturala, crema de patiserie, faina de grau, mascarpone, ricotta,
                                    ciocolata alba, ou intreg, zahar, grasimi, biscuiti oreo, cacao, sare</p>
                                <p>GRAMAJ: 110g </p>
                                <p>PRET: 7.5 Lei </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="responsive">
                <div class="gallery">
                    <img src="IMAGINI/Cofetarie/padureaneagra.jpg" alt="Prajitura Padurea Neagra">
                    <button id="myBtn10">CITITI MAI MULT</button>
                    <div id="myModal10" class="modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <span class="close" id="cls10">&times;</span>
                                <h3>PRAJITURA PADUREA NEAGRA</h3>
                            </div>
                            <div class="modal-body">
                                <p>INGREDIENTE: frisca naturala, crema de patiserie, faina de grau, ciocolata neagra, ou
                                    intreg, zahar, piure fructe de padure, cacao, sare</p>
                                <p>GRAMAJ: 120g </p>
                                <p>PRET: 5 Lei </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="responsive">
                <div class="gallery">
                    <img src="IMAGINI/Cofetarie/pavlova.jpg" alt="Pavlova">
                    <button id="myBtn11">CITITI MAI MULT</button>
                    <div id="myModal11" class="modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <span class="close" id="cls11">&times;</span>
                                <h3>PRAJITURA PAVLOVA</h3>
                            </div>
                            <div class="modal-body">
                                <p>INGREDIENTE: frisca naturala, crema de patiserie, unt (grasime 82%), ou intreg,
                                    zahar, apa, amidon, esenta de vanilie, fructe proaspete</p>
                                <p>GRAMAJ: 110g </p>
                                <p>PRET: 7.5 Lei </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="responsive">
                <div class="gallery">
                    <img src="IMAGINI/Cofetarie/trilogie.jpg" alt="Prajitura Trilogie">
                    <button id="myBtn12">CITITI MAI MULT</button>
                    <div id="myModal12" class="modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <span class="close" id="cls12">&times;</span>
                                <h3>PRAJITURA TRILOGIE</h3>
                            </div>
                            <div class="modal-body">
                                <p>INGREDIENTE: frisca naturala, crema de patiserie, ciocolata alba, ciocolata neagra,
                                    ciocolata cu lapte, ou intreg, zahar, lapte praf, cacao</p>
                                <p>GRAMAJ: 100g </p>
                                <p>PRET: 7.5 Lei </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="responsive">
                <div class="gallery">
                    <img src="IMAGINI/Cofetarie/savarina.jpg" alt="Savarina">
                    <button id="myBtn13">CITITI MAI MULT</button>
                    <div id="myModal13" class="modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <span class="close" id="cls13">&times;</span>
                                <h3>PRAJITURA SAVARINA</h3>
                            </div>
                            <div class="modal-body">
                                <p>INGREDIENTE: faina de grau, drojdie, zahar, sare, apa, frisca naturala si frisca
                                    vegetala (de post)</p>
                                <p>GRAMAJ: 140g </p>
                                <p>PRET: 5 Lei </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="responsive">
                <div class="gallery">
                    <img src="IMAGINI/Cofetarie/tiramisu.jpg" alt="Tiramisu">
                    <button id="myBtn14">CITITI MAI MULT</button>
                    <div id="myModal14" class="modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <span class="close" id="cls14">&times;</span>
                                <h3>PRAJITURA TIRAMISU</h3>
                            </div>
                            <div class="modal-body">
                                <p>INGREDIENTE: frisca naturala, crema de patiserie, faina de grau, mascarpone, ou
                                    intreg, zahar, apa, amaretto, cafea</p>
                                <p>GRAMAJ: 120g </p>
                                <p>PRET: 6.5 Lei </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="responsive">
                <div class="gallery">
                    <img src="IMAGINI/Cofetarie/amandina.jpg" alt="Amandina">
                    <button id="myBtn15">CITITI MAI MULT</button>
                    <div id="myModal15" class="modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <span class="close" id="cls15">&times;</span>
                                <h3>PRAJITURA AMANDINA</h3>
                            </div>
                            <div class="modal-body">
                                <p>INGREDIENTE: faina de grau, ou intreg, unt (grasime 82%), fondant cacao, zahar, lapte
                                    praf, apa, cacao, sare, rom</p>
                                <p>GRAMAJ: 120g </p>
                                <p>PRET: 5.5 Lei </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

        </section>
        <p> Apasati <a class="tc" href="/prajituri">AICI</a> pentru a vedea toate prajiturile disponibile.</p>
    </main>
    <%- include('../fragmente/footer.ejs') %>

</body>

</html>