<!DOCTYPE html>
<html lang="ro">
<head>
    <title> Home - Cofetăria Savor </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/CSS/stil_comun.css">
    <link rel="stylesheet" href="/CSS/stil_home.css">
    <link rel="stylesheet" href="/CSS/stil_buton_top.css">
    <script type="text/javascript" src="JAVASCRIPT/marcarepgactiva.js"></script>
    <script type="text/javascript" src="JAVASCRIPT/salututilizator.js"></script>
    <script type="text/javascript" src="JAVASCRIPT/scroll_top.js"></script>
    <script type="text/javascript" src="JAVASCRIPT/home.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/IMAGINI/favicon.ico">
	<meta charset="UTF-8">
	<meta name="author" content="Poinarita Diana">
	<meta name="description" content="Cofetarie">
    <meta name="keywords" content="prajituri, cofetarie, torturi, candy bar, dulciuri">
</head>
<body>
<%- include('../fragmente/header.ejs') %>

<button id="myBtn" title="Go to top">Top</button>

<main>
<section id="desprenoi">
	<h2>DESPRE NOI</h2><hr class="linie">
    <p>Cofetăria Savor reprezintă împlinirea unui vis frumos al unor cofetari profesioniști care și-au dorit să le ofere clienților cele mai delicioase torturi, cele mai apetisante prăjituri și cele mai savuroase produse de patiserie. Am pornit la drum dorind să vă uimim și să vă oferim bucurie prin produsele noastre de cea mai bună calitate.</p>
    <p>Vă invităm să pășiți în lumea celor mai seducătoare arome ale torturilor create în laboratoarele noastre de specialitate și cele mai delicate gusturi ale prăjiturilor obținute cu îndemânare de către echipa noastră. La Cofetăria Savor veți găsi, întotdeauna, ceva bun pentru fiecare.</p>
    <figure>
		<img id="dnoi" alt="Cofetăria Savor" src="../IMAGINI/Primapg/desprenoi.jpg">
		<figcaption>Cofetăria Savor </figcaption>
	</figure>
</section>
    

<section id="descriere">
    <h2> DE CE SĂ NE ALEGI PE NOI?</h2><hr class="linie"> 
    <div class="grid-container">
        <div class="grid-item">
            <h3><i class="fa fa-shopping-cart" style="font-size:48px"></i><br>Ingrediente naturale</h3>
            <p>Toate produsele noastre de cofetărie și patiserie – fie că este un tort delicios, un candy bar colorat sau alte delicii sărate – sunt mereu proaspete și sunt realizate din ingrediente 100% naturale, de calitate, fără premixuri sau amelioratori.</p>
        </div>
        <div class="grid-item">
            <h3><i class="fa fa-birthday-cake" style="font-size:48px"></i><br>Degustare gratuită</h3>
            <p>Gustul desăvârșit întregește aspectul deosebit al produselor noastre - de aceea, înainte de a plasa comanda pentru evenimentul dumneavoastră, vă oferim degustare GRATUITĂ. Sunați-ne pentru o programare.</p>       
        </div>
        <div class="grid-item">
            <h3><i class="fa fa-truck"  style="font-size:48px"></i><br>Transport gratuit</h3>
            <p>Tortul, candy bar-ul diversificat sau produsele de patiserie alese pentru evenimentul dvs. vă sunt livrate de Cofetăria Savor la adresa dorită. Pentru comenzile de minim 300 lei beneficiați de transport GRATUIT în București/Ploiești.</p>
        </div>  
        <div class="grid-item">
            <h3><i class="fa fa-money" style="font-size:48px"></i><br>Prețuri accesibile</h3>
            <p>Investim în calitatea produselor noastre, dar mai ales în bucuria și satisfacția clienților. Venim în întâmpinarea dumneavoastră cu produse de cofetărie și patiserie de cea mai bună calitate, într-o gamă variată, la un preț accesibil.</p>
        </div>  
    </div>
    <hr class="linie">
</section>

<div id="gr">
    <img src="../IMAGINI/Primapg/poza1.jpg" alt="Prajitura">
    <img src="../IMAGINI/Primapg/poza2.jpg" alt="Prajitura">
    <img src="../IMAGINI/Primapg/poza3.jpg" alt="Prajitura">
    <img src="../IMAGINI/Primapg/poza4.jpg" alt="Prajitura">
    <img src="../IMAGINI/Primapg/poza5.jpg" alt="Prajitura">
    <img src="../IMAGINI/Primapg/poza6.jpg" alt="Prajitura">
    <img src="../IMAGINI/Primapg/poza7.jpg" alt="Prajitura">
    <img src="../IMAGINI/Primapg/poza8.jpg" alt="Prajitura">
    <img src="../IMAGINI/Primapg/poza9.jpg" alt="Prajitura">
    <img src="../IMAGINI/Primapg/poza10.jpg" alt="Prajitura">
    <img src="../IMAGINI/Primapg/poza11.jpg" alt="Prajitura">
    <img src="../IMAGINI/Primapg/poza12.jpg" alt="Prajitura">
</div>

<hr class="linie">
</main>
<%- include('../fragmente/footer.ejs') %>
</body>
</html>
