<!DOCTYPE html>
<html lang="ro">
<head>
    <title> Suport Clienti - Cofetăria Savor </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/CSS/stil_comun.css">
    <link rel="stylesheet" href="/CSS/stil_info.css">
    <link rel="stylesheet" href="/CSS/stil_buton_top.css">
    <script type="text/javascript" src="JAVASCRIPT/scroll_top.js"></script>
    <script type="text/javascript" src="JAVASCRIPT/infoscript.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/IMAGINI/favicon.ico">
	<meta charset="UTF-8">
	<meta name="author" content="Poinarita Diana">
	<meta name="description" content="Cofetarie">
    <meta name="keywords" content="prajituri, cofetarie, torturi, candy bar, dulciuri">
</head>
<body>
<%- include('../fragmente/header.ejs') %>
<button id="myBtn" title="Go to top">Top</button>
<main>

    <div class="container" id="cumcomand">
        <h2>Cum comand?</h2> <hr class="linie">
        <div class="comand">
            <p>Comenzile pot fi făcute telefonic, online pe site sau direct în cofetăriile Savor.</p>
            <p>Puteți lansa comanda pentru produsele dorite atât din țară, cât și din străinătate, în baza unui avans de 50% virat în contul nostru bancar sau achitat direct în cofetăriile noastre, cash ori cu card.</p>
            <p>Plata prin transfer bancar se va efectua exclusiv în baza unei facturi emise de Cofetăria Savor.</p>
            <p><b>Timp minim de producție:</b></p>
                <ul>
                    <li>24 de ore pentru comenzi standard din punct de vedere al gradului de dificultate</li>
                    <li>4-5 ore, în limita disponibilității, dacă comanda este plasată până la ora 13:00</li>
                    <li>4-7 zile pentru comenzile speciale, ce necesită un timp de realizare mai îndelungat (torturi personalizate, cu figurine etc.)</li>
                    <li>pentru produsele comandate după ora 15:00, solicitările se vor onora a doua zi dupa ora 11:00 (la punctul de lucru indicat)</li>
                </ul>
            
            <p>Comenzile de torturi pot varia cu +/- 500g (Cofetăria Savor iși rezervă acest drept).</p>
            <p><b>Coșul de cumpărături:</b></p>
            <p>Pentru a cumpăra produse prin intermediul coșului de cumpărături va trebui să faceți selecțiile corespunzătoare pentru fiecare produs dorit în parte. </p> 
            <p>Pentru finalizarea comenzilor trebuie sa accesați coșul dvs., să completați datele cerute și să trimiteți comanda.</p>
        </div>
        <div class="imgcomand">
            <img alt="cake image" src="../IMAGINI/SClienti/info2.jpg" >
        </div>
    </div>


    <div class="container" id="transport">
        <h2>Transport și Livrări Evenimente</h2> <hr class="linie">
        <div class="imgtrans">
            <img alt="cake image" src="../IMAGINI/SClienti/info1.jpg" >
        </div>
        <div class="trans">
            <p>Transportul pe raza municipiului PLOIESTI sau BUCUREȘTI este GRATUIT pentru comenzi mai mari de 5kg sau 300 lei.</p>
            <p>Produsele se transportă cu mașină frigorifică.</p>
            <p><b>Livrări de comenzi pentru evenimente:</b></p>
                <ul>
                    <li>Pentru evenimente, tortul ori monoporțiile se livrează într-un interval de 2-4 ore de la ora stabilită, în funcție de numărul comenzilor.</li>
                    <li>Comenzile nu se livrează dupa ora 00:00.</li>
                    <li>Cofetăria Savor iși rezervă dreptul de a întârzia livrările din cauze ce țin de condiții meteo nefavorabile sau de un numar mare de comenzi.</li>
                </ul>
            
            <p><b>Obligațiile clienților:</b></p>
                <ul>
                    <li>Clienții au obligația să restituie suportul tortului oferit de Cofetăria Savor in baza unei garanții, în săptămâna imediat următoare.</li>
                    <li>Clienții au obligația să achite restul sumei datorate comenzii în momentul livrării produselor.</li>
                </ul>
            
        </div>
    </div>

    <div class="container" id="termeni">
        <h2>Termeni și condiții</h2> <hr class="linie">
        <p>Prin accesarea site-ului sunteti de acord cu termenii si conditiile de mai jos:</p>
            <ul id="conditii">
                <li>Pentru comenzile preluate la punctele de lucru, clientul este obligat sa verifice corectitudinea datelor inscrise in bonul de comanda si sa-l semneze. Eventualele completari se vor face pe loc, reclamatiile ulterioare nu vor fi luate in considerare.</li>
                <li>Solicitarile de modificare a comenzii se vor onora doar daca sunt anuntate cu cel putin 2 zile inainte de data eliberarii comenzii. Exceptie fac torturile de nunta , botez si Candy Barurile pentru care solicitarile de modificare se vor onora daca sunt anuntate cu cel putin 5 zile inainte.</li>
                <li>Comenzile online si pe e-mail sunt valabile dupa confirmarea acestora de un reprezentant Savor</li>
                <li>Comenzile personalizate se transmit cu cel putin 4 zile inainte de data eliberarii acestora</li>
                <li>Pentru torturile de nunta sau Candy Baruri, comenzile se transmit cu cel putin 1 saptamana inainte de data eliberarii acestora. Recomandarea noastra cu 2-3 saptamani inainte pentru siguranta</li>
                <li>Comenzile necesita plata unui avans, in cont sau in oricare din punctele de lucru (cofetarii)</li>
                <li>Renuntarea la comanda si returnarea avansului (doar in baza bonului de avans) se accepta cu cel putin 3 zile inainte de data eliberarii comenzii, in caz contrar se va retine valoarea avansului</li>
                <li>Nu se primesc tichete de masa sau tichete cadou</li>
                <li>Fotografiile comestibile si figurinele din pasta de zahar personalizate se taxeaza separat, iar contravaloarea acestora nu se returneaza</li>
            </ul>
        <p>Cofetaria Savor nu poate fi responsabila pentru orice paguba produsa prin consumarea dupa termenul de valabilitate inscris sau comunicat la cererea clientului sau a produselor aflate in termenul de valabilitate, dar pastrate in conditii necorespunzatoare de catre client dupa achizitionarea acestora</p>
        <p><b>Termenul de valabilitate și temperaturi optime:</b></p>
            <ul>
                <li>torturi si prajituri cu crema – 48 h</li>
                <li>torturi, prajituri cu frisca – 24h</li>
                <li>temperatura 4-8 grade</li>
                <li>produse de patiserie 24h (22-24 grade)</li>
            </ul>
        
    </div>

</main>
<%- include('../fragmente/footer.ejs') %>

</body>
</html>