<!DOCTYPE html>
<html lang="ro">
<head>
    <title> Patiserie - Cofetăria Savor </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/CSS/stil_comun.css">
    <link rel="stylesheet" href="/CSS/stil_patiserie.css">
    <link rel="stylesheet" href="/CSS/stil_buton_top.css">
    <script type="text/javascript" src="JAVASCRIPT/marcarepgactiva.js"></script>
    <script type="text/javascript" src="JAVASCRIPT/scroll_top.js"></script>
    <script type="text/javascript" src="JAVASCRIPT/patiseriescript.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/IMAGINI/favicon.ico"/>
	<meta charset="UTF-8">
	<meta name="author" content="Poinarita Diana">
	<meta name="description" content="Cofetarie">
	<meta name="keywords" content="prajituri, cofetarie, torturi, candy bar, dulciuri">
</head>
<body>

<%- include('../fragmente/header.ejs') %>
<button id="myBtn" title="Go to top">Top</button>

<main>

<section id="patiserie_sarata">
    <div class="transbox">
        <h2>PATISERIE SĂRATĂ</h2>
    </div>
    <div id="gr1">
        <div class="container">
            <figure>
                <img alt="Mini pateuri cu brânză sărată" src="../IMAGINI/Patiserie/pateuribranza.jpg">
                <figcaption>Mini pateuri cu brânză sărată</figcaption>
            </figure>
            <div class="text">
                Compoziție: aluat de foietaj, umplutura cu branza dulce de vaci si telemea de vaci, decorat cu ou<br>
                Gramaj aprox.: 0.009 kg - 0.011 kg (1 buc mini pateu)<br>
                Pret: 63.00 RON/kg
            </div>
        </div>
        
        <div class="container">
            <figure>
                <img alt="Mini pateuri cu carne de vită" src="../IMAGINI/Patiserie/pateuricarne.jpg">
                <figcaption>Mini pateuri cu carne de vită</figcaption>
            </figure>
            <div class="text">
                Compoziție: aluat de foietaj, umplutura cu carne de vita, ceapa si oua, decorat cu ou<br>
                Gramaj aprox.: 0.023 kg - 0.025 kg (1 buc mini pateu)<br>
                Pret: 65.00 RON/kg
            </div>
        </div>

        <div class="container">
            <figure>
                <img alt="Mini pateuri cu ciuperci" src="../IMAGINI/Patiserie/pateuriciuperci.jpg">
                <figcaption>Mini pateuri cu ciuperci</figcaption>  
            </figure>
            <div class="post"> DE POST</div>
            <div class="text">
                Compoziție: aluat de foietaj, umplutura cu ciuperci, ceapa, pasta de usturoi, marar<br>
                Gramaj aprox.: 0.008 kg - 0.010 kg (1 buc mini pateu)<br>
                Pret: 63.00 RON/kg
            </div>
        </div>
      
        <div class="container">
            <figure>
                <img alt="Covrigei aperitiv cu mac" src="../IMAGINI/Patiserie/covrigei-aperitiv.jpg">
                <figcaption>Covrigei aperitiv cu mac</figcaption>
            </figure>
            <div class="text">
                Compoziție: aluat fraged cu unt, decorat cu ou si mac<br>
                Gramaj aprox.: 0.007 kg - 0.01 kg (1 buc covrigel) <br>
                Pret: 60.00 RON/kg
            </div>
        </div>

        <div class="container">
            <figure>
                <img alt="Sărățele cu susan" src="../IMAGINI/Patiserie/saratele.jpg">
                <figcaption>Sărățele cu susan</figcaption>
            </figure>
            <div class="post"> DE POST</div>
            <div class="text">
                <p>Compoziție: aluat de foietaj, decorat cu susan<br>
                Gramaj aprox.: 0.006 kg - 0.008 kg (1 buc saratea)<br>
                Pret: 60.00 RON/kg
            </div>
        </div>
       
        <div class="container">
            <figure>
                <img alt="Plăcinte cu spanac" src="../IMAGINI/Patiserie/placinte-spanac.jpg">
                <figcaption>Plăcinte cu spanac</figcaption>
            </figure>
            <div class="post"> DE POST</div>
            <div class="text">
                Compoziție: foaie de placinta romaneasca, umplutura cu spanac<br>
                Gramaj aprox.: 0.022 kg - 0.024 kg (1 buc mini placinta)<br>
                Pret: 60.00 RON/kg
            </div>
        </div>

    </div>
</section>

<section id="patiserie_dulce">
    <div class="transbox">
        <h2>PATISERIE DULCE</h2>
    </div>
   
    <div id="gr2">
        <div class="container">
            <figure>
                <img alt="Plăcintă cu branza dulce si stafide" src="../IMAGINI/Patiserie/Prajitura-cu-Branza-Dulce-de-Vaca-si-Stafide.jpg">
                <figcaption>Plăcintă cu brânză dulce și stafide</figcaption>
            </figure>
            <div class="text">
                Compoziție: blat, umplutura cu branza dulce de vaca si stafide, mix pudra de zaharuri<br>
                Gramaj: 0.110 Kg<br>
                Pret: 5.00 RON/buc
            </div>
        </div>

        <div class="container">
            <figure>
                <img alt="Strudel cu dovleac" src="../IMAGINI/Patiserie/Strudel-cu-Dovleac.jpg">
                <figcaption>Ștrudel cu dovleac</figcaption>
            </figure>
            <div class="post"> DE POST</div>
            <div class="text">
                Compoziție: foaie de placinta romaneasca, umplutura cu doveac si scortisoara, decorata cu zahar pudra<br>
                Gramaj: 0.100 Kg<br>
                Pret: 3.50 RON/buc
            </div>
        </div>
    
        <div class="container">
            <figure>
                <img alt="Strudel cu mere" src="../IMAGINI/Patiserie/Strudel-cu-Mere.jpg">
                <figcaption>Ștrudel cu mere</figcaption>
            </figure>
            <div class="post"> DE POST</div>
            <div class="text">
                Compoziție: foaie de placinta romaneasca, umplutura cu mere si scortisoara, decorata cu zahar pudra<br>
                Gramaj: 0.100 Kg<br>
                Pret: 3.50 RON/buc
            </div>
        </div>
    
        <div class="container">
            <figure>
                <img alt="Cozonac cu nuca, cacao si rahat" src="../IMAGINI/Patiserie/cozonac-de-casa.jpg">
                <figcaption>Cozonac cu nucă, cacao și rahat</figcaption>
            </figure>
            <div class="post"> DE POST</div>
            <div class="text">
                Compoziție: aluat dospit de cozonac, umplutura cu nuca, cacao si rahat, decorat cu ou<br>
                Gramaj: 1 Kg<br>
                Pret: 49.00 RON/buc
            </div>
        </div>
    
        <div class="container">
            <figure>
                <img alt="Rulada cu nuca" src="../IMAGINI/Patiserie/rulada-cu-nuca.jpg">
                <figcaption>Ruladă cu nucă</figcaption>
            </figure>
            <div class="text">
                Compoziție: aluat de cozonac, umplutura cu nuca, decorat cu zahar granulat<br>
                Gramaj: 0.400 Kg<br>
                Pret: 18.00 RON/buc
            </div>
        </div>
        
        <div class="container">
            <figure>
                <img alt="Rulou Chantilly" src="../IMAGINI/Patiserie/Rulou-Chantilly.jpg">
                <figcaption>Rulou Chantilly</figcaption>
            </figure>
            <div class="text">
                Compoziție: aluat de foietaj, umplutura cu crema de vanilie la rece, sirop cu zahar si miere<br>
                Gramaj: 0.200 Kg<br>
                Pret: 5.00 RON/buc
            </div>
        </div>

    </div>
</section>
<p> Apasati <a class="tc" href = "/prajituri">AICI</a> pentru a vedea toate prajiturile disponibile.</p>
</main>
<%- include('../fragmente/footer.ejs') %>

</body>
</html>
