<!DOCTYPE html>
<html lang="ro">
<head>
    <title> Torturi - Cofetăria Savor </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/CSS/stil_comun.css">
    <link rel="stylesheet" href="/CSS/stil_torturi.css">
    <link rel="stylesheet" href="/CSS/stil_buton_top.css">
    <script type="text/javascript" src="JAVASCRIPT/marcarepgactiva.js"></script>
    <script type="text/javascript" src="JAVASCRIPT/scroll_top.js"></script>
    <script type="text/javascript" src="JAVASCRIPT/torturi_java.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/IMAGINI/favicon.ico"/>
	  <meta charset="UTF-8">
	  <meta name="author" content="Poinarita Diana">
	  <meta name="description" content="Cofetarie">
    <meta name="keywords" content="prajituri, cofetarie, torturi, candy bar, dulciuri">
</head>
<body>

<%- include('../fragmente/header.ejs') %>

<button id="myBtn" title="Go to top">Top</button>

<main>
<section id="torturidenunta">
    <div class="containertext">
        <div class="text">
            <h2>TORT NUNTA – gustul fermecator al deserturilor realizate cu suflet</h2>
            <p>Unul dintre cele mai asteptate si dulci momente ale evenimentului este acela in care mult doritul tort de nunta isi face intrarea, spre incantarea mirilor si a invitatilor. </p>
            <p>Tortul de nunta este considerat „regele deserturilor” intr-un astfel de cadru festiv si este important ca acesta sa isi merite titulatura atat din punct de vedere estetic, dar mai ales al gustului sau inconfundabil.</p>
            <p>Un tort de nunta este mai mult decat un simplu desert, este simbolul dulce al celor doi indragostiti, ce imbie prin decoruri, arome si culori. </p>
            <p>Ne dorim sa va fim alaturi zi de zi, dar si in momentele speciale din viata dumneavoastra, iar un tort de nunta realizat cu suflet de maestrii nostri cofetari este menit sa va transforme orice astfel de eveniment intr-o adevarata simfonie a simturilor si a sentimentelor frumoase.</p>
            <p>Toate ingredientele folosite in laboratoarele cofetariei noastre sunt 100% naturale, de calitate superioara.</p>
        </div>
    </div>

    <div id="gr">
        <figure>
          <img src="IMAGINI/Torturi/wedcake1.jpg" alt="Wedding Cake White">
          <figcaption> Wedding Cake "White" </figcaption>
        </figure>
        <figure>
            <img src="IMAGINI/Torturi/wedcake2.jpg" alt="Wedding Cake Flower">
            <figcaption> Wedding Cake "Flower"</figcaption>
        </figure>
        <figure>
            <img src="IMAGINI/Torturi/wedcake3.jpg" alt="Wedding Cake Marble">
            <figcaption>Wedding Cake "Marble"</figcaption>
        </figure>
        <figure>
            <img src="IMAGINI/Torturi/wedcake4.jpg" alt="Wedding Cake Pure">
            <figcaption>Wedding Cake "Pure"</figcaption>
          </figure>
          <figure>
            <img src="IMAGINI/Torturi/wedcake5.jpg" alt="Wedding Cake Lace">
            <figcaption>Wedding Cake "Lace"</figcaption>
          </figure>
          <figure>
            <img src="IMAGINI/Torturi/wedcake6.jpg" alt="Wedding Cake Elegant">
            <figcaption>Wedding Cake "Elegant"</figcaption>
          </figure>
          <figure>
            <img src="IMAGINI/Torturi/wedcake7.jpg" alt="Wedding Cake Spring">
            <figcaption>Wedding Cake "Spring"</figcaption>
          </figure>
          <figure>
            <img src="IMAGINI/Torturi/wedcake8.jpg" alt="Wedding Cake Rustic">
            <figcaption>Wedding Cake "Rustic"</figcaption>
          </figure>
    </div>

</section>

<section id="torturidebotez">
    <div class="containertext1">
      <div class="text1">
        <h2>TORT BOTEZ – pentru povesti frumoase, spuse cu gust</h2>
        <p>Universul copiilor este o lume intreaga de senzatii incantatoare, de gusturi surprinzatoare, de nuante calde si bucurii nemarginite, o lume fantastica de poveste. Iar acest univers merita transpus, cu gust, in povestea unui tort de botez minunat.</p>
        <p>Indiferent de tematica pe care ati ales-o, un tort de botez gustos, asezonat cu decoratiuni vesele – figurine ale personajelor preferate din desene animate, bebelusi, animalute haioase, flori colorate, printese sau supereroi, fructe parfumate, macarons, acadele sau bezele – va face deliciul fiecarui invitat la prima petrecere a celui mic.</p>
        <p>Fiecare tort realizat de cofetarii nostri spune o poveste, iar limita este doar propria imaginatie. Va incurajam, asadar, sa indrazniti sa visati in culori si arome, noi ne vom stradui sa va oferim bucuria de a va vedea visul dulce devenit realitate.</p>
      </div>
    </div>

  <div class="containerpozebotez">
    <div class="w3-content">
      <img class="mySlides" src="IMAGINI/Torturi/tort1.jpg">
      <img class="mySlides" src="IMAGINI/Torturi/tort2.jpg">
      <img class="mySlides" src="IMAGINI/Torturi/tort3.jpg">
      <img class="mySlides" src="IMAGINI/Torturi/tort4.jpg">
      <img class="mySlides" src="IMAGINI/Torturi/tort5.jpg">
      <img class="mySlides" src="IMAGINI/Torturi/tort6.jpg">
    </div>

    <div class="w3-center">
      <div class="w3-section">
        <button class="w3-button w3-light-grey" id="bprev">❮ Prev</button>
        <button class="w3-button w3-light-grey" id="bnext">Next ❯</button>
      </div>
      <button class="w3-button demo" id="bt1">1</button> 
      <button class="w3-button demo" id="bt2">2</button> 
      <button class="w3-button demo" id="bt3">3</button> 
      <button class="w3-button demo" id="bt4">4</button> 
      <button class="w3-button demo" id="bt5">5</button> 
      <button class="w3-button demo" id="bt6">6</button> 
    </div>
  </div>
  
</section>

</main>
<%- include('../fragmente/footer.ejs') %>

</body>
</html>
